---
layout: 'base.njk'
permalink: "experiance-sri-lanka/popular-destinations/{{ title | slugify }}/index.html"
---

<main>
  <article>
    <!--
    - #HERO -->
    <section class="pages-hero page-over" id="home">
      <div class="container">
        <h2 class="h2 hero-title title page-title" id="title" data-reveal>
          {{ title }}
        </h2>
        <p class="hero-text" id="sub-title" data-reveal>
          {% if herosub %}
            {{ herosub }}
          {% else %}
            Explore Sri Lanka's Popular Destinations
          {% endif %}
        </p>
      </div>
      {% image image , imagealt, "(min-width: 300em) 50vw, 100vw" , "position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);min-height: 100%;min-width: 100%;z-index: -1;" %}
    </section>
    <!-- hero section pver -->
    <section class="popular partner " id="destination">
      <div class="container">
        <p class="section-subtitle" data-reveal>
          <a href="/experiance-sri-lanka/" class="a-link">Experiance-Sri-Lanka</a>/
          <a href="/experiance-sri-lanka/popular-destinations/" class="a-link">Popular-Destinations</a>/
          <a href="" class="a-link">{{ title }}</a>
        </p>
        <h2 class="h2 section-title" data-reveal>{{ heading }}</h2>
        <br>
          <br>
            <div class="section-text " style="display:flex;flex-direction: column;align-items: center;" data-reveal>
              {{ content | safe }}
            </div>
            {% if title=='Hill Country' %}
              <ul class="popular-list">
                {% for item in collections.hillcounty %}
                  <li data-reveal>
                    <a href="#{{ item.data.id }}">
                      <div class="popular-card">
                        <figure class="card-img">
                          {% image item.data.image , item.data.imagealt, "(min-width: 300em) 50vw, 100vw" , "" %}
                          </figure>
                          <div class="card-content">
                            <p class="card-subtitle">
                              <a href="#{{ item.data.id }}">Hill Country</a>
                            </p>
                            <h3 class="h3 card-title">
                              <a href="#{{ item.data.id }}">{{ item.data.title }}</a>
                            </h3>
                            <a href="#{{ item.data.id }}">
                              <p class="card-text">
                                {{ item.data.description }}
                              </p>
                            </a>
                          </div>
                        </div>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
                <br>
                  <br>
                    <br>
                      {% for subitem in collections.hillcounty %}
                        <section id="{{ subitem.data.id }}">
                          <p class="section-subtitle" data-reveal>{{ subitem.data.subheading }}</p>
                          <h2 class="h2 section-title" data-reveal>{{ subitem.data.title }}</h2>
                          <br>
                            <br>
                              <div class="section-text " style="display:flex;flex-direction: column;align-items: center;" data-reveal>
                                {{ subitem.templateContent | safe }}
                              </div>
                              <hr style="margin-top: 5rem;margin-bottom: 5rem;" data-reveal></section>
                            {% endfor %}
                          {% endif %}
                          {% if title=='Rainforests' %}
                            <ul class="popular-list">
                              {% for item in collections.forests %}
                                <li data-reveal>
                                  <a href="#{{ item.data.id }}">
                                    <div class="popular-card">
                                      <figure class="card-img">
                                      {% image item.data.image , item.data.imagealt, "(min-width: 300em) 50vw, 100vw" , "" %}
                                        
                                        <div class="card-content">
                                          <p class="card-subtitle">
                                            <a href="#{{ item.data.id }}">Rainforests</a>
                                          </p>
                                          <h3 class="h3 card-title">
                                            <a href="#{{ item.data.id }}">{{ item.data.title }}</a>
                                          </h3>
                                          <a href="#{{ item.data.id }}">
                                            <p class="card-text">
                                              {{ item.data.description }}
                                            </p>
                                          </a>
                                        </div>
                                      </div>
                                    </a>
                                  </li>
                                {% endfor %}
                              </ul>
                              <br>
                                <br>
                                  <br>
                                    {% for subitem in collections.forests %}
                                      <section id="{{ subitem.data.id }}">
                                        <p class="section-subtitle" data-reveal>{{ subitem.data.subheading }}</p>
                                        <h2 class="h2 section-title" data-reveal> {{ subitem.data.title }}</h2>
                                        <br>
                                          <br>
                                            <div class="section-text " style="display:flex;flex-direction: column;align-items: center;" data-reveal>
                                              {{ subitem.templateContent | safe }}
                                            </div>
                                            <hr style="margin-top: 5rem;margin-bottom: 5rem;" data-reveal></section>
                                          {% endfor %}
                                        {% endif %}
                                      </section>