  <footer class="footer">

    <div class="footer-top">
      <div class="container">

        <div class="footer-brand">

          <a href="#" class="logo" style="color:white;font-size: 20px;">
            <!-- <img src="./assets/images/logo.svg" alt="Volunteering Sri Lanka logo"> -->
            - LOGO HERE - 
          </a>

          <p class="footer-text">
            <ul>
              <li class="footer-link"><a href="/contact-us/">Contact us</a></li>
              <li class="footer-link"><a href="/faq/">FAQ</a></li>
              <li class="footer-link"><a href="/project-area/">Project Area</a></li>
              <li class="footer-link"><a href=""></a></li>
              <li class="footer-link"><a href=""></a></li>
            </ul>
          </p>

        </div>

        <div class="footer-contact">

          <h4 class="contact-title">Contact Us</h4>

          <p class="contact-text">
            Feel free to contact and reach us !!
          </p>

          <ul>

            <li class="contact-item">
              <ion-icon name="call-outline"></ion-icon>

              <a href="tel:+01123456790" class="contact-link">(+94)77 930 8187 </a>
              
            </li>
            <li class="contact-item">
              <ion-icon name="call-outline"></ion-icon>
              <a href="tel:+01123456790" class="contact-link">(+94)77 299 5304</a>
            </li>


            <li class="contact-item">
              <ion-icon name="mail-outline"></ion-icon>

              <a href="mailto:info.Volunteering Sri Lanka.com" class="contact-link">info@volunteeringsrilanka.lk</a> <br> <br>
            </li>

            <li class="contact-item">
              <ion-icon name="location-outline"></ion-icon>

              <address>25/1 New Lane 2, Dangedara,<br>Galle 80000 <br>SriLanka</address>
            </li>

          </ul>

        </div>

        <div class="footer-form">

          <p class="form-text">
            Subscribe our newsletter for more update & news !!
          </p>

          <form action="" class="form-wrapper">
            <input type="email" name="email" class="input-field" placeholder="Enter Your Email" required>

            <button type="submit" class="btn btn-secondary">Subscribe</button>
          </form>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; 2023 <a href="">Hashen</a>. All rights reserved
        </p>

        <ul class="footer-bottom-list">

          <li>
            <a href="#" class="footer-bottom-link">Privacy Policy</a>
          </li>

          <li>
            <a href="#" class="footer-bottom-link">Term & Condition</a>
          </li>

          <li>
            <a href="/faq/" class="footer-bottom-link">FAQ</a>
          </li>

        </ul>

      </div>
    </div>

  </footer>