---
layout: 'base.njk'
permalink: "volunteer-programs/{{ title | slugify }}/"
---

<style>
  .hero-blog::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  .hero-blog {
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    position: relative;
  }
</style>
<header
  class=" text-white  relative hero-blog  py-20 flex items-center min-h-[70vh]"
  style="background-image: url({{ image }});">
  <div class="container mx-auto px-4 max-w-3xl text-center z-[1]">
    <h1 class="text-4xl font-serif md:text-5xl font-bold mb-4" data-reveal="data-reveal">{{ title }}</h1>
    <p class="text-xl  " data-reveal="data-reveal">Make a Difference in {{ location }}</p>
    <div class="btn-group slider-reveal mt-4" id="btn-group">
      <a href="/apply-now/index.html?getprogram={{ title }}">
        <button class="btn btn-secondary">Register for this program</button>
      </a>
    </div>
  </div>
</header>
<main class="container mx-auto my-12 px-4">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-12">
    <div class="lg:col-span-2">
      <section class="bg-white shadow-sm rounded-lg p-8 mb-8">
        <h2 class="text-2xl font-bold mb-6 text-secondary">Program Overview</h2>
        <article class="prose max-w-none ">
          {{ content | safe }}
        </article>
      </section>
    </div>
    <div class="lg:col-span-1 space-y-8">
      <aside class="bg-muted shadow-sm rounded-xl p-6" data-reveal="data-reveal">
        <h3 class="text-xl font-semibold mb-4 text-secondary">Program Details</h3>
        <ul class="space-y-4">
          <li class="flex items-center">
            <svg
              class="w-5 h-5 mr-2 text-primary"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
            </svg>
            <span>
              <strong class="font-semibold">Location:</strong>
              <br/> {{ location }}</span>
          </li>
          <li class="flex items-center">
            <svg
              class="w-5 h-5 mr-2 text-primary"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11
                  0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <span>
              <strong class="font-semibold">Program Fee:</strong>
              <br/> {{ programFee }}</span>
          </li>
          <li class="flex items-center">
            <svg
              class="w-5 h-5 mr-2 text-primary"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>
            </svg>
            <span>
              <strong class="font-semibold">Minimum Age:</strong>
              <br/> {{ minimumAge }}</span>
          </li>
          <li class="flex items-center">
            <svg
              class="w-5 h-5 mr-2 text-primary"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
            </svg>
            <span>
              <strong class="font-semibold">Start Dates:</strong>
              <br/> {{ startDates }}</span>
          </li>
          <li class="flex items-center">
            <svg
              class="w-5 h-5 mr-2 text-primary"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <span>
              <strong class="font-semibold">Volunteer Hours:</strong>
              <br/> {{ volunteerHours }}</span>
          </li>
        </ul>
        <a href="/apply-now/index.html?getprogram={{ title }}">
          <button class="btn btn-primary w-full  mt-6">Register for this program</button>
        </a>
        <a href="/contact-us/">
          <button class="btn btn-secondary  btn-green-no-fill w-full  mt-3">Contact Us</button>
        </a>
      </aside>
      <aside class="bg-muted shadow-sm rounded-lg p-6" data-reveal="data-reveal">
        <h3 class="text-xl font-semibold mb-4 text-secondary">Accommodation</h3>
        <ul class="space-y-4">
          <li>
            <strong class="font-semibold">Location:</strong>
            <br/> {{ accommodation.location }}</li>
          <li>
            <strong class="font-semibold">Proximity:</strong>
            <br/> {{ accommodation.proximity }}</li>
          <li>
            <strong class="font-semibold">Room Type:</strong>
            {{ accommodation.roomType }}</li>
        </ul>
      </aside>
      <aside class="bg-muted shadow-sm rounded-lg p-6" data-reveal="data-reveal">
        <h3 class="text-xl font-semibold mb-4 text-secondary">Meals</h3>
        <ul class="space-y-4">
          <li>
            <strong class="font-semibold">Provided:</strong>
            <br/> {{ meals.provided }}</li>
          <li>
            <strong class="font-semibold">Cuisine:</strong>
            <br/> {{ meals.cuisine }}</li>
          <li>
            <strong class="font-semibold">Vegetarian Options:</strong>
            <br/> {{ meals.vegetarianOptions }}</li>
        </ul>
      </aside>
    </div>
  </div>
</main>