/*-----------------------------------*\
 * #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */





/*-----------------------------------*\
 * #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */

  --united-nations-blue: hsl(214, 56%, 58%);
  --forest-green: #13544e;
  --white-green:#E4EBE4;
  --spanish-gray: hsl(0, 0%, 60%);
  --black-coral: hsl(225, 8%, 42%);
  --oxford-blue: hsl(208, 97%, 12%);
  --yale-blue: #338228;
  --blue-ncs: hsl(197, 100%, 36%);
  --gunmetal: hsl(206, 34%, 20%);
  --gainsboro: hsl(0, 0%, 88%);
  --cultured: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --onyx: hsl(0, 0%, 25%);
  --jet: hsl(0, 0%, 20%);

  /**
   * typography
   */



  --ff-poppins: 'Poppins', sans-serif;
  --ff-montserrat: "Montserrat", sans-serif;
  --ff-serif:'DM Serif Display', serif;
  --ff-merienda : 'Merienda', cursive;

  --fs-1: calc(20px + 2.8vw);
  --fs-2: calc(18px + 1.6vw);
  --fs-3: calc(16px + 0.45vw);
  --fs-4: 15px;
  --fs-5: 14px;
  --fs-6: 13px;
  --fs-7: 12px;
  --fs-8: 11px;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;

  /**
   * transition
   */

  --transition: 0.25s ease-in-out;
/*    --transition: 0.25s ease-in-out;*/
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);


  /**
   * spacing
   */

  --section-padding: 60px;

  /**
   * border-radius
   */

  --radius-15: 15px;
  --radius-25: 25px;

}





/*-----------------------------------*\
 * #RESET
\*-----------------------------------*/



*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; }

a,
img,
span,
input,
label,
button,
ion-icon { display: block; }


input,
button {
  background: none;
  border: none;
  font: inherit;
}

button { cursor: pointer; }

input { width: 100%; }

ion-icon { pointer-events: none; }

html {
  font-family: var(--ff-poppins);
  scroll-behavior: smooth;
  scroll-padding: 100px;
}

body { background: var(--white); }





/*-----------------------------------*\
 * #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px; }

.btn {
  color: var(--white);
  text-transform: uppercase;
  font-size: var(--fs-5);
  border-radius: 100px;
  padding: var(--padding, 8px 18px);
  border: var(--border-width, 2px) solid transparent;
  transition: var(--transition);
  text-align: center;
}

.btn-primary {
  background: var(--forest-green);
  border-color: var(--forest-green);
}

.btn-primary:is(:hover, :focus) {
  background: var(--yale-blue);
  border-color: var(--yale-blue);
}

.btn-secondary { border-color: var(--white); }

.btn-secondary:is(:hover, :focus) { background: hsla(0, 0%, 100%, 0.1); }

.btn-secondary-cta { border-color: var(--forest-green); color:var(--forest-green); }

.btn-secondary-cta:is(:hover, :focus) { background: hsla(0, 0%, 100%, 0.1); }

.h1,
.h2,
.h3 {
/*  font-weight: var(--fw-800);*/
  font-family: var(--ff-merienda);
/*  text-transform: uppercase;*/
font-weight: 700;
}

.h1 {
  color: var(--white);
  font-size: var(--fs-1);
}

.h2,
.h3 { color: var(--gunmetal); }

.h2 { font-size: var(--fs-2); }

.h3 {
  font-size: var(--fs-3);
  font-weight: var(--fw-700);
}

.section-subtitle {
  color: var(--forest-green);
  font-size: var(--fs-5);
  text-transform: uppercase;
  font-family: var(--ff-montserrat);
  margin-bottom: 8px;
  text-align: center;
}

.section-title { 
  text-align: center;
  margin-bottom: 15px; }

.section-text {
  color: var(--black-coral);
  margin-bottom: 30px;
}

.section-text p {
  color: var(--black-coral);
  margin-bottom: 30px;
  font-size: 1.1rem;
  max-width: 80%;
}

.card-text {
  color: var(--black-coral);
  font-size: var(--fs-5);
}





/*-----------------------------------*\
 * #HEADER
\*-----------------------------------*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 61px;
  z-index: 4;
}

.header-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: var(--transition);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  padding-block: 15px;
  z-index: 1;
}

.header.active .header-top {
  position: fixed;
  background: var(--forest-green);
}

.header-top .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: flex-start;
  align-items: center;
}

.helpline-box .wrapper { display: none; }

.helpline-box .icon-box {
  background: var(--forest-green);
  padding: 6px;
  border-radius: 50%;
  color: var(--white);
}

.helpline-box .icon-box ion-icon { --ionicon-stroke-width: 40px; }

.header-top .logo { margin-inline: auto; }

.header-top .logo img { max-width: 100px; }

.header-btn-group {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--white);
}

.search-btn,
.nav-open-btn {
  font-size: 30px;
  color: inherit;
}

.search-btn { font-size: 20px; }

.header-bottom { border-bottom: 1px solid hsla(0, 0%, 100%, 0.1); }

.header-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 15px;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 5px;
}

.social-link {
  color: var(--white);
  padding: 8px;
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  border-radius: 50%;
  font-size: 15px;
  transition: var(--transition);
}

.social-link:is(:hover, :focus) { background: hsla(0, 0%, 100%, 0.2); }

.header .btn { --padding: 4px 20px; }

.header .navbar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 100%;
  max-width: 300px;
  height: 100%;
  background: var(--white);
  visibility: hidden;
  pointer-events: none;
  transition: 0.15s ease-in;
  z-index: 3;
}

.navbar.active {
  right: 0;
  visibility: visible;
  pointer-events: all;
  transition: 0.25s ease-out;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 15px;
}

.navbar-top .logo img { width: 150px; }

.nav-close-btn {
  font-size: 20px;
  color: var(--forest-green);
}

.nav-close-btn ion-icon { --ionicon-stroke-width: 80px; }

.navbar-list { border-top: 1px solid hsla(0, 0%, 0%, 0.1); }

.navbar-list li { border-bottom: 1px solid hsla(0, 0%, 0%, 0.1); }

.navbar-link {
  padding: 15px 20px;
  color: var(--jet);
  font-weight: var(--fw-500);
  font-size: var(--fs-4);
  transition: var(--transition);
  text-transform: capitalize;
}

.navbar-link:is(:hover, :focus) { color: var(--forest-green); }

.overlay {
  position: fixed;
  inset: 0;
  background: var(--black);
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  transition: var(--transition);
}

.overlay.active {
  opacity: 0.7;
  pointer-events: all;
}





/*-----------------------------------*\
 * #HERO
\*-----------------------------------*/

.hero {
  background-image: url("../img/7.jpeg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: hsla(0, 0%, 0%, 0.7);
  background-blend-mode: overlay;
  display: grid;
  place-items: center;
  min-height: 600px;
  text-align: center;
  padding-top: 125px;
  transition: all 0.5s ease-in-out;
  animation: hero-slider 80s infinite linear ;
}

.pages-hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: hsla(0, 0%, 0%, 0.7);
  background-blend-mode: overlay;
  display: grid;
  place-items: center;
  min-height: 500px;
  text-align: center;
  padding-top: 125px;
  transition: all 0.5s ease-in-out;

}


.page-over{
  position: relative;
  overflow: hidden;
}

@keyframes hero-slider{
  0%{
    background-image: url("../img/cc/14.png");
  }
  10%{
    background-image: url("../img/cc/14.png");

  }
  12%{
    background-image: url("../img/cc/14.png");
  }
  20%{
    background-image: url("../img/cc/14.png");
  }
  22%{
    background-image: url("../img/cc/16.jpg");
  }
  30%{
    background-image: url("../img/cc/16.jpg");
  }
  32%{
    background-image: url("../img/11.jpeg");
  }
  40%{
    background-image: url("../img/11.jpeg");
  }
  42%{
    background-image: url("../img/16.jpeg");
  }
  50%{
    background-image: url("../img/16.jpeg");
  }

  52%{
    background-image: url("../img/8.jpeg");
  }  
  60%{
    background-image: url("../img/8.jpeg");
  }

  62%{
    background-image: url("../img/7.jpeg");
  }
  70%{
    background-image: url("../img/7.jpeg");
  }

  72%{
    background-image: url("../img/cc/14.png");
  }
  80%{
    background-image: url("../img/cc/14.png");
  }
  82%{
    background-image: url("../img/cc/7.jpg");
  }
  90%{
    background-image: url("../img/cc/7.jpg");
  }
  92%{
    background-image: url("../img/cc/3.jpg");
  }
  100%{
    background-image: url("../img/cc/3.jpg");
  }

  

}

@keyframes zoom{
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.1);
  }
}
.hero-content-warpper{
/*  width: 50%;*/
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.hero-title { margin-bottom: 20px; }

.hero-text {
  color: var(--white);
  font-size: var(--fs-5);
  margin-bottom: 40px;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.why-vsl {
  background-color: var(--white-green);
}


.slider-reveal {
  transform: translateY(30px);
  opacity: 0;
}

.slider-reveal {
  animation: sliderReveal 1s ease forwards;
}

@keyframes sliderReveal {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.hero-title{ animation-delay: 500ms; }

.hero-text { 
  animation-delay: 1000ms;

 }

.btn-group { animation-delay: 1.5s; }



/*************************** animations *********************/
.title-fade-in {
  opacity: 0;
  animation: changeTitle-fade-in 1s ease-in-out forwards;
}

@keyframes changeTitle-fade-in {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.title-fade-out{
  opacity: 1;
  animation: changeTitle-fade-out 1s ease-in-out forwards;

}

@keyframes changeTitle-fade-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}





.subtitle-fade-in {
  opacity: 0;
  animation: changesubtitle-fade-in 1s ease-in-out forwards;
  animation-delay: 500ms;
}

@keyframes changesubtitle-fade-in {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
/*  50%{
    transform: translateY(20px);

  }*/
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.subtitle-fade-out{
  opacity: 1;
  animation: changesubtitle-fade-out 1s ease-in-out forwards;

}

@keyframes changesubtitle-fade-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
/*  50%{
    transform: translateY(20px);

  }*/
  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}




.btn-fade-in {
  opacity: 0;
  animation: changebtn-fade-in 1s ease-in-out forwards;
  animation-delay: 1000ms;
}

@keyframes changebtn-fade-in {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
/*  50%{
    transform: translateY(20px);

  }*/
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn-fade-out{
  opacity: 1;
  animation: changebtn-fade-out 1s ease-in-out forwards;

}

@keyframes changebtn-fade-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
/*  50%{
    transform: translateY(20px);

  }*/
  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}








/*-----------------------------------*\
 * #TOUR SEARCH
\*-----------------------------------*/

.featured-section {
  background: var(--forest-green);
  padding-block: var(--section-padding);
}

.tour-search-form .input-label {
  color: var(--gunmetal);
  font-size: var(--fs-4);
  margin-left: 20px;
  margin-bottom: 10px;
}

.tour-search-form .input-field {
  background: var(--white);
  padding: 10px 15px;
  font-size: var(--fs-5);
  border-radius: 12px;
  border: 1px solid var(--spanish-gray);
}

.tour-search-form .input-field::placeholder { color: var(--spanish-gray); }

.tour-search-form .input-field::-webkit-datetime-edit {
  color: var(--spanish-gray);
  text-transform: uppercase;
}

.tour-search-form .input-wrapper { margin-bottom: 15px; }

.tour-search .btn {
  width: 100%;
  --border-width: 1px;
  font-weight: var(--fw-600);
  margin-top: 35px;
}








.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;

    margin-right: -15px;
    margin-left: -15px;
    flex-direction: column;
}

.align-self-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
}
.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
@media (min-width: 768px){
.col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

 .row {
    flex-direction: row;
}



}


.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


.block-6 {
    margin-bottom: 40px;
}
.pb-4, .py-4 {
    padding-bottom: 1.5rem !important;
}
.pt-4, .py-4 {
    padding-top: 1.5rem !important;
}
.p-3 {
    padding: 1rem !important;
}
.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.d-block {
    display: block !important;
}
.media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.services .icon {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;

}
.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}



.media-body h3{
  font-family: var(--ff-merienda);
  font-size: var(--fs-3);
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--white);
}

.media-body p{
  color: var(--white);
}












.card {
  transform: translateY(100px) scaleY(1);
  transform-origin: 0% 100%;
  padding-left: 1em;
  border-left: 1px solid #4E5862;
  position: relative;
  height: 8em;
}
.card:before {
  position: absolute;
  content: "";
  border-radius: 100%;
  border: 0.5em solid #1A1D20;
  background: #BA62AD;
  width: 0.5em;
  height: 0.5em;
  top: 0;
  left: -0.8em;
  opacity: 1;
}
.card:hover:before {
  width: 0.8em;
  height: 0.8em;
  left: -0.95em;
  top: -0.15em;
}
.card .title {
  color: white;
  font-weight: bold;
  opacity: 0;
  transform: translateY(100px);
}
.card .desc {
  color: white;
  opacity: 0;
  transform: translateY(100px);
}


@media only screen and (min-width: 750px) {
  .features {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 2em;
  }
  .features .card {
    margin-bottom: 2em;
    height: auto;
  }
  .features .card .title {
    margin-top: 0;
  }


}

@media only screen and (min-width: 1200px) {
  

  .features {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
  }

  .features {
    margin-bottom: 0;
  }


  .features .card {
    margin-bottom: 0;
    height: 15rem;
  }


}



/*-----------------------------------*\
 * #POPULAR
\*-----------------------------------*/

.popular { padding-block: var(--section-padding); }

.popular-list,
.popular-list > li:not(:last-child) { margin-bottom: 30px; }

.popular-card {
  box-shadow: 0px 0px 71px -8px rgba(201,201,201,0.66);
  -webkit-box-shadow: 0px 0px 71px -8px rgba(201,201,201,0.66);
  -moz-box-shadow: 0px 0px 71px -8px rgba(201,201,201,0.66);
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  height: 430px;
  cursor: pointer;
  transition: all 0.8s;
}

.popular-card .card-img { height: 100%; }

.popular-card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
/*  border-radius: 20px;*/
}

.popular-card .card-content {
  position: absolute;
  bottom: 0px;
  height: 49%;
/*  left: 20px;*/
/*  right: 20px;*/
  background: var(--white);
/*  border-radius: var(--radius-15);*/
  padding: 20px;
  transition: all 0.8s;
}


.popular-card .card-rating {
  background: var(--forest-green);
  color: var(--white);
  position: absolute;
  top: 0;
  right: 25px;
  display: flex;
  align-items: center;
  gap: 1px;
  transform: translateY(-50%);
  padding: 6px 10px;
  border-radius: 15px;
  font-size: 14px;
}

.popular-card .card-subtitle {
  color: var(--yale-blue);
  font-size: var(--fs-6);
  text-transform: uppercase;
  margin-bottom: 8px;
}

.popular-card .card-title { margin-bottom: 5px; }

.popular-card :is(.card-subtitle, .card-title) > a { color: inherit; }

.popular .btn { margin-inline: auto; }


.popular-card:hover {
  transform: scale(1.1);
  z-index: 1;
  transition: all 0.5s;

}
.card-content:hover{
  border-radius: 20px;
  transform:  translateY(-40px);
  padding-top: 40px;
  padding-bottom: 80px;
  height: 56%;
  transition: all 0.5s;
 }

.card-title{
  font-family: var(--ff-montserrat);
  transition: 0.3s;
  
}

.card-title:hover{
  color: var(--yale-blue);
  transition: 0.3s;
}

/*-----------------------------------*\
 * #PACKAGE
\*-----------------------------------*/

.package { padding-block: var(--section-padding); }

.package-list { margin-bottom: 40px; }

.package-list > li:not(:last-child) { margin-bottom: 30px; }

.package-card {
  box-shadow: 0px 0px 71px -8px rgba(201,201,201,0.66);
  -webkit-box-shadow: 0px 0px 71px -8px rgba(201,201,201,0.66);
  -moz-box-shadow: 0px 0px 71px -8px rgba(201,201,201,0.66);
  background: var(--cultured);
  overflow: hidden;
  border-radius: 15px;
}

.package-card .card-banner { height: 250px; }

.package-card .card-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.package-card .card-content { padding: 30px 20px; }

.package-card .card-title { margin-bottom: 15px; }

.package-card .card-text {
  line-height: 1.6;
  margin-bottom: 20px;
}

.card-meta-list {
  background: var(--white);
  max-width: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 8px;
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.15);
  border-radius: 50px;
}

.card-meta-item { position: relative; }

.card-meta-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -1px;
  bottom: 4px;
  width: 1px;
  background: hsla(0, 0%, 0%, 0.3);
}

.meta-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-inline: 9px;
  color: var(--black-coral);
  font-size: var(--fs-8);
}

.meta-box > ion-icon {
  color: var(--forest-green);
  font-size: 13px;
}

.package-card .card-price {
  background: var(--forest-green);
  color: var(--white);
  padding: 25px 20px;
  text-align: center;
}

.package-card .card-price .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px 15px;
  margin-bottom: 10px;
}

.package-card .card-price .reviews { font-size: var(--fs-5); }

.package-card .card-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  font-size: 14px;
}

.package-card .card-rating ion-icon:last-child { color: hsl(0, 0%, 80%); }

.package-card .price {
  font-size: var(--fs-2);
  font-family: var(--ff-montserrat);
  font-weight: var(--fw-800);
  margin-bottom: 20px;
}

.package-card .price span {
  font-size: var(--fs-7);
  font-weight: initial;
}

.package .btn { margin-inline: auto; }


.scooter-card:hover{
  transform: unset;
}


/*-----------------------------------*\
 * #GALLERY
\*-----------------------------------*/
.our-mission-btn {
    margin-inline: auto;
}

.our-mission{ padding-block: var(--section-padding); }

.gallery-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.gallery-list-why-vsl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.gallery-image {
  width: 100%;
  height: 100%;
  border-radius: var(--radius-15);
  overflow: hidden;
}

.gallery-item:nth-child(3) { grid-area: 1 / 2 / 3 / 3; }

.gallery-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}





/*-----------------------------------*\
 * #CTA
\*-----------------------------------*/

.cta {
  background: var(--white-green);
  padding-block: var(--section-padding);
}

.cta :is(.section-subtitle, .section-title, .section-text) { color: var(--forest-green); }

.cta .section-text { font-size: var(--fs-5); }

/*.cta-title-hash {
  color: var(--gunmetal) !important;

}*/



/*-----------------------------------*\
 * #FOOTER
\*-----------------------------------*/

.footer-top {
  background: var(--gunmetal);
  padding-block: var(--section-padding);
  color: var(--gainsboro);
}

.footer-brand { margin-bottom: 30px; }

.footer-brand img { width: 180px; }

.footer-brand .logo { margin-bottom: 20px; }

.footer-text {
  font-size: var(--fs-5);
  line-height: 1.7;
}

.footer-contact { margin-bottom: 30px; }

.contact-title {
  position: relative;
  font-family: var(--ff-montserrat);
  font-weight: var(--fw-500);
  margin-bottom: 30px;
}

.contact-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 50px;
  height: 2px;
  background: var(--forest-green);
}

.contact-text {
  font-size: var(--fs-5);
  margin-bottom: 15px;
  max-width: 200px;
}

.contact-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.contact-item ion-icon { --ionicon-stroke-width: 40px; }

.contact-link,
address {
  font-style: normal;
  color: var(--gainsboro);
  font-size: var(--fs-5);
}

.contact-link:is(:hover, :focus) { color: var(--white); }

.form-text {
  font-size: var(--fs-5);
  margin-bottom: 20px;
}

.footer-form .input-field {
  background: var(--white);
  font-size: var(--fs-5);
  padding: 15px 20px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.footer-form .btn { width: 100%; }

.footer-bottom {
  --gunmetal: hsl(205, 36%, 17%);
  background: var(--gunmetal);
  padding-block: 20px;
  text-align: center;
}

.copyright {
  color: var(--gainsboro);
  font-size: var(--fs-5);
  margin-bottom: 10px;
}

.copyright a {
  color: inherit;
  display: inline-block;
}

.copyright a:is(:hover, :focus) { color: var(--white); }

.footer-bottom-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px;
}

.footer-bottom-list > li { position: relative; }

.footer-bottom-list > li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -10px;
  bottom: 3px;
  width: 1px;
  background: hsla(0, 0%, 100%, 0.2);
}

.footer-bottom-link {
  color: var(--gainsboro);
  font-size: var(--fs-7);
  transition: var(--transition);
}

.footer-bottom-link:is(:hover, :focus) { color: var(--white); }





/*-----------------------------------*\
 * #GO TO TOP
\*-----------------------------------*/

.go-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
  background: var(--forest-green);
  color: var(--white);
  display: grid;
  place-items: center;
  font-size: 18px;
  border-radius: 50%;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.5);
  opacity: 0;
  transform: translateY(10px);
  visibility: hidden;
  transition: var(--transition);
}
.whatsapp-btn{
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 47px;
  height: 47px;
  background: var(--forest-green);
  color: var(--white);
  display: grid;
  place-items: center;
  font-size: 27px;
  border-radius: 50%;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.5);
/*  opacity: 0;*/
  transform: translateY(10px);
/*  visibility: hidden;*/
  transition: var(--transition);
  margin-bottom: 0.5rem;
}


.whatsapp-btn:hover{
  background-color: var(--yale-blue);
}
.go-top.active {
  opacity: 0.8;
  transform: translateY(0);
  visibility: visible;
}

.go-top:is(:hover, :focus) { opacity: 1; }

.welcome-section{
  margin-top: 5%;
}



/*-----------------------------------*\
 * #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 580px screen
 */

@media (min-width: 580px) {

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 580px;
    margin-inline: auto;
  }

  .respo-text{
    max-width: 70ch !important;
  }
  .btn {
    --fs-5: 16px;
    --padding: 12px 30px;
  }

  section:not(.cta) :is(.section-subtitle, .section-title, .section-text) {
    text-align: center;
  }

  .unset-align :is(.section-subtitle, .section-title, .section-text) {
    text-align: left !important;
  }

  .section-text { margin-bottom: 40px; }

  .card-text { --fs-5: 15px; }



  /**
   * HEADER
   */

  .header { padding-top: 83px; }

  .helpline-box .icon-box { padding: 14px; }

  .header-top .logo img { max-width: 150px; }

  .search-btn { font-size: 30px; }

  .nav-open-btn { font-size: 40px; }

  .header .btn {
    --fs-5: 14px;
    --padding: 6px 20px;
  }



  /**
   * HERO
   */

  .hero {
    min-height: 800px;
    padding-top: 85px;
  }

  .hero-text { --fs-5: 15px; }

  .btn-group { gap: 20px; }



  /**
   * TOUR SEARCH
   */

  .tour-search-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;
    gap: 15px;
  }

  .tour-search-form .input-wrapper { margin-bottom: 0; }

  .tour-search-form .input-field { padding: 16px 20px; }

  .tour-search .btn {
    grid-column: span 2;
    margin-top: 20px;
  }



  /**
   * POPULAR
   */





  /**
   * FOOTER
   */

  .footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .footer-form { grid-column: span 2; }

  .footer-bottom { text-align: left; }

  .copyright { margin-bottom: 0; }

  .footer-bottom-list { justify-content: flex-end; }

}





/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-5: 15px;

  }




  /**
   * REUSED STYLE
   */

  .container { max-width: 800px; }

  .section-text {
    max-width: 60ch;
    margin-inline: auto;
  }

  .section-welcome-text {
    max-width: 100ch;
    margin-inline: auto;
  }

  .partner .container .section-text {
    max-width: 100%;
    margin-inline: auto;
  }




  /**
   * HEADER
   */

  .helpline-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }

  .helpline-box .wrapper {
    display: block;
    color: var(--white);
    font-size: var(--fs-6);
  }

  .social-list { gap: 10px; }



  /**
   * POPULAR
   */

  .popular-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 50px;
  }

  .popular-list > li:not(:last-child) { margin-bottom: 0; }

  .popular-card .card-img img { height:unset; }



  /**
   * PACKAGE
   */

  .package-list { margin-bottom: 50px; }

  .package-list > li:not(:last-child) { margin-bottom: 40px; }

  .package-card {
    display: grid;
    grid-template-columns: 1.3fr 1.5fr 1fr;
  }

  .package-card .card-banner { height: 100%; }

  .package-card .card-content { padding: 40px; }

  .package-card .card-price {
    display: grid;
    place-content: center;
  }

  .package-card .card-price .wrapper { margin-bottom: 15px; }



  /**
   * GALLERY
   */

  .gallery { padding-bottom: calc(var(--section-padding * 2)); }

  .gallery-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

    .gallery-list-why-vsl {
/*    grid-template-columns: repeat(2, 1fr);*/
    gap: 20px;
  }

  .gallery-image { border-radius: var(--radius-25); }



  /**
   * CTA
   */

  .cta .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cta-content { width: calc(990% - 225px); }

  .cta-width { width: calc(100% - 225px); }

  .cta .section-text { margin-inline: 0; }



  /**
   * FOOTER
   */

  .form-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }

  .footer-form .input-field { margin-bottom: 0; }

  .footer-form .btn { width: max-content; }

}




/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {

  /**
   * REUSED STYLE
   */
  .contact-us-grid{
    grid-template-columns: 5fr 3fr;
  }
  .container { max-width: 1050px; }

  #google_translate_element{
    display: block !important;
  }

  .search-btn ion-icon {
    display: none;
  }
  /**
   * HEADER
   */
  .mobile-nav{
    display: none;
  }
  .header.active .header-top {
    position: unset;
    background: unset;
  }

  .nav-open-btn,
  .navbar-top { display: none; }

  .header-bottom { border-bottom: none; }

  .header.active .header-bottom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--white);
    color: var(--onyx);
    box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.08);
    transition: var(--transition);
  }

  .header-bottom .container { padding-block: 0; }

  .header .navbar { all: unset; }

  .navbar-list {
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-list li { border-bottom: none; }

  .navbar-link {
    text-align: center;
    color: var(--white);
    --fs-4: 14px;
    font-weight: unset;
    text-transform: uppercase;
    padding: 20px 15px;
  }

  .header.active .navbar-link { color: var(--onyx); }

  .header.active .navbar-link:is(:hover, :focus) { color: var(--forest-green); }

  .header.active .social-link {
    color: var(--onyx);
    border-color: hsla(0, 0%, 0%, 0.15);
  }

  .overlay { display: none; }



  /**
   * HERO
   */

  .hero .container { max-width: 780px; }



  /**
   * TOUR SEARCH
   */

  .tour-search-form { grid-template-columns: 1fr 1fr; }

  .tour-search .btn {
    --padding: 15px;
    grid-column: unset;
    margin-top: 0;
  }



  /**
   * POPULAR
   */

  .popular-list { grid-template-columns: repeat(3, 1fr); }



  /**
   * PACKAGE
   */

  .meta-box { --fs-8: 13px; }

  .meta-box > ion-icon { font-size: 15px; }



  /**
   * CTA 
   */

  .cta .section-title { max-width: 50ch; }



  /**
   * FOOTER
   */

  .footer-top .container {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }

  .footer-form { grid-column: unset; }

  .form-wrapper { flex-direction: column; }

  .footer-form .btn { width: 100%; }

}





/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * spacing
     */

    --section-padding: 100px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 1180px; }

}






font-custom{
  font-weight: 500; 
  font-style: italic; 
  font-family: var(--ff-serif);
  color: #ffdc5c;
}




.activelink{
  color: var(--forest-green) !important;
}


.active-tab{
  background-color: #4c4c4c12;
}






/*---------------------------------------translator--------------------------------*/
#google_translate_element {
  position:relative;
  cursor: pointer;
/*   display: none;*/
 }

#google_translate_element span {display: none!important; }



#google_translate_element select {
padding: 8px;
visibility: visible !important;
/*border: none;*/
border-radius: 50rem;
background-color: transparent;
color: white;
}

#google_translate_element select option {
  color: var(--forest-green);
/*  background-color: transparent;*/
/*  backdrop-filter: blur(10px);*/
}

.goog-te-banner-frame.skiptranslate {display: none!important; }


#top{
  top: 0px !important;
}


.skiptranslate{
  visibility: hidden;
}

.search-btn {
  cursor: pointer;
}

.hidden{
  visibility: hidden;
}

.display-none{
  display: none;
}

highlight{
  color: var(--forest-green);
}



.contact-us-grid{
  display: grid;
  gap: 2rem;
}

.contact-silde{
  text-align: left;
/*  font-family: var(--ff-poppins);*/
color: var(--gunmetal);
font-size: var(--fs-4);
border-radius: 1rem;
}



.btn-green-no-fill{
  cursor: pointer;
  border-color: var(--forest-green);
  color: var(--forest-green);
}


.btn-green-no-fill:hover{
  background-color: var(--forest-green);
  color: var(--white);
}

.contact-btn-lable{
  margin-left: 0.7rem;
}

.page-title{
  color: var(--white);
}


/*-------------------------------- accordion  */ 
  
.accordion {
  font-size: 1rem;
  width: 60vw;
  margin: 0 auto;
  border-radius: 5px;
}

.accordion-header,
.accordion-body {
  background: white;
}

.accordion-header {
  padding: 1.5em 1.5em;
  background: var(--white-green);
  border-radius: 8px;
  text-transform: uppercase;
  color: var(--onyx);
  cursor: pointer;
  font-size: var(--fs-5);
  letter-spacing: .1em;
  transition: all .3s;
}

.accordion__item {
    border-bottom: 1px solid transparent;
}

.accordion__item .accordion__item {
  border-bottom: 1px solid transparent;
}

.accordion-header:hover {
  background: var(--forest-green);
  color: var(--white);
  position: relative;
  z-index: 5;
}

.accordion-body {
  background: #fcfcfc;
  color: #353535;
  display: none;
}

.accordion-body__contents {
  padding: 1.5em 1.5em;
  font-size: .85em;
  text-transform: capitalize;
}

.accordion__item.active:last-child .accordion-header {
  border-radius: none;
}

.accordion:first-child > .accordion__item > .accordion-header {
  border-bottom: 1px solid transparent;
}

.accordion__item > .accordion-header:after {
  content: "\f3d0";
  font-family: IonIcons;
  font-size: 1.2em;
  float: right;
  position: relative;
  top: -2px;
  transition: .3s all;
  transform: rotate(0deg);
}

.accordion__item.active > .accordion-header:after {
  transform: rotate(-180deg);
}

.accordion__item.active .accordion-header {
  background: var(--yale-blue);
  color: var(--white);
}

.accordion__item .accordion__item .accordion-header {
  background: #f1f1f1;
  color: #353535;
}

@media screen and (max-width: 1000px) {

  
  .accordion {
    width: 100%;
  }
}








.google-map {
     padding-bottom: 50%;
     position: relative;
}

.google-map iframe {
     height: 100%;
     width: 100%;
     left: 0;
     top: 0;
     position: absolute;
}


.footer-link a {
  text-decoration: none;
  color: var(--white);
}

.footer-link a:hover {
  text-decoration: none;
  color: var(--forest-green);
}

.fee-table{

  width: 100%;
  text-align: center;
  background-color: var(--white-green);
  border-radius: 12px;
}

td{
  height: 3.3rem;
  border-bottom: 3px solid white;

}

th{
  height: 3.8rem;
  border-bottom: 3px solid white;

}

.tr-hover:hover{
  background-color: var(--yale-blue);
  color: white;
  transition: 0.1s;
}


.a-link {
  display: unset;
  color: var(--forest-green);


}


.a-link:link {
  color: var(--forest-green);
}

/* visited link */
.a-link:visited {
  color: var(--forest-green);
}

/* mouse over link */
.a-link:hover {
  color: var(--yale-blue);
}

/* selected link */
.a-link:active {
  color: var(--yale-blue);
}


.content-img{
  max-width: 80%;
  border-radius: 20px;
  margin: 4rem 0;


}





.program-tabs{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--white-green);
  padding: 0.5rem 2rem;
  border-radius: 12px;
  margin-bottom: 4.5rem;
  width: 90%;
}

.program-tabs button {
/*  background-color: white;*/
  padding: 0.5rem 1.8rem;
/*  border-radius: 50rem;*/
  color: var(--forest-green);
  font-size: 0.9rem;
  transition: all 0.3s;
}

.subsection{
  color: red;
}


.program-tabs button:hover {
  background-color: white;
  border-radius: 12px;
  transition: all 0.3s;

}

@media (max-width:580px){
  .program-tabs{
  display: grid;
  
  }

}



/*-----------------------------------*\
  #SCROLL ANIMATIONS
\*-----------------------------------*/


[data-reveal] {
  transform: translateY(50px);
  opacity: 0;
  transition: var(--transition-3);
}

[data-reveal="left"] { transform: translate(-50px, 0); }

[data-reveal="right"] { transform: translate(50px, 0); }

[data-reveal].revealed {
  transform: translate(0, 0);
  opacity: 1;
}

