---
title : Contact us
layout: 'base.njk'
---

<main>
  <article>
    <!--
    - #HERO -->
    <section class="pages-hero" id="home" style="background-image: url('/assets/img/cc/13.jpg');">
      <div class="container">
        <h2
          class="h1 hero-title title"
          id="title"
          style="font-family: 'DM Serif Display', serif;font-weight: 400;font-style: italic;">
          Get in Touch
        </h2>
        <p class="hero-text" id="sub-title">
          We're pleased to hear from you and assist you in beginning your volunteer experience.
        </p>
      </div>
    </section>
    <!-- hero section pver -->
    <section class="popular partner" id="destination">
      <div class="container">
        <p class="section-text " style="max-width:100ch">
          We're here to answer your questions and give help, whether you're an individual trying to make a difference or a
          representative of an organization interested in collaborating with us. Our staff is committed to providing all
          volunteers with a meaningful and beneficial volunteering experience. Fill out the form below or contact us by phone or
          email if you're ready to take the first step in making a difference. We eagerly await your response!
          <br><br>
        </p>
        <div class="contact-us-grid">
          <form action="" class="tour-search-form" name="Contact"  method="POST" netlify style="width:90%;">
              <input type="hidden" name="form-name" value="Contact">
            <h3 class="h3 section-text" style="margin-bottom: 2rem;margin-left: 1rem;grid-column:1/3;">
              Contact us</h3>
            <div class="input-wrapper">
              <label for="name" class="input-label">Name*</label>
              <input type="text" name="name" id="name" required placeholder="Enter Name" class="input-field">
            </div>
            <div class="input-wrapper">
              <label for="email" class="input-label">Email*</label>
              <input type="email" name="email" id="email" required placeholder="Enter your emial address" class="input-field">
            </div>
            <div class="input-wrapper" style="grid-column: 1/3;">
              <label for="subject" class="input-label">Subject*</label>
              <input type="text" name="subject" id="subject" required class="input-field" placeholder="Subject Here">
            </div>
            <div class="input-wrapper" style="grid-column: 1/3;width: 100%;">
              <label for="message" class="input-label">Message</label>
              <textarea
                name="message"
                id="message"
                cols="30"
                rows="10"
                class="input-field"
                placeholder="Write a message"
                style="width: 100%;"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" style="grid-column: 1/3;width: 30%;margin: auto;">Send</button>
          </form>
          <div class="cta contact-silde " style="padding: 3rem;width: 90%;">
            If you have any general inquiries or questions about our organization, services, or programs, please feel free to send
            us a message using the contact form on this page.
            <br><br><span class="contact-btn-lable">You can also email us at :
            </span><br>
            <a href="mailto:info.volunteerinsrilanka.org" class="btn btn-secondary btn-green-no-fill" style="margin-inline: unset;text-align: center;font-size: 0.65rem;">
              info@volunteerinsrilanka.org
            </a><br><br>
            <span class="contact-btn-lable">Call us :</span><br>
            <a href="tel:+94779308187" class="btn btn-secondary btn-green-no-fill" style="margin-inline: unset;text-align: center;">
              (+94)77 930 8187
            </a><br>
            <a href="tel:+94772995304" class="btn btn-secondary btn-green-no-fill" style="margin-inline: unset;text-align: center;">
              (+94)77 930 8187
            </a><br>
            <span class="contact-btn-lable">
              Address: <br><br> 25/1 New Lane 2, Dangedara, <br> Galle 80000 <br> SriLanka
            </span>
          </div>
        </div>
      </div>
    </section>