---
title : Explore Sri Lanka
permalink: "experiance-sri-lanka/popular-destinations/index.html"
layout: 'base.njk'
eleventyImport:
  collections: ["destinations"]
---

<main>
  <article>
    <!--
    - #HERO -->
    <section class="pages-hero" id="home" style="background-image: url('/assets/images/com/3.jpeg');">
      <div class="container">
        <h2 class="h2 hero-title title page-title" id="title">
          Explore Sri Lanka's
          <br>
            <font-custom>Popular Destinations</font-custom>
          </h2>
          <p class="hero-text" id="sub-title">
            Immerse Yourself in the Culture and Scenery of These Must-Visit Places
          </p>
        </div>
      </section>
      <!-- hero section pver -->
      <section class="popular partner " id="destination">
        <div class="container">
          <br>
            <br>
              <p class="section-subtitle">
                Explore the Wonders of Sri Lanka's
              </p>
              <h2 class="h2 section-title">Top Tourist Spots</h2>
              <p class="section-text">
                Are you ready to discover the hidden gems of Sri Lanka?
                <br>Our popular destinations page is your ultimate guide to exploring the best of Sri Lanka's sights and attractions.
                  <br>
                    From stunning beaches to ancient ruins and cultural landmarks, we've got you covered.
                    <br>
                      <br>
                        <br></p>
                        <ul class="popular-list">
                          {% set sectionname = "Popular Destinations" %}
                          {% for item in collections.destinations %}
                            <li>
                              <a href="{{ item.url }}">
                                <div class="popular-card">

                                  <figure class="card-img">
                                    {% image item.data.image , item.data.imagealt, "(min-width: 300em) 50vw, 100vw" , "" %}
                                  </figure>

                                  <div class="card-content">

                                    <div></div>
                                    <p class="card-subtitle">
                                      <a href="{{ item.url }}">{{ sectionname }}</a>
                                    </p>

                                    <h3 class="h3 card-title">
                                      <a href="{{ item.url }}">{{ item.data.title }}</a>
                                    </h3>
                                    <a href="{{ item.url }}">
                                      <p class="card-text">
                                        {{ item.data.description }}
                                      </p>
                                    </a>
                                    

                                  </div>

                                </div>
                              </a>
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </section>