---
title : FAQ
layout: 'base.njk'
eleventyImport:
  collections: ["faq"]
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <main>
    <article>
      <!--
      - #HERO -->
      <section class="pages-hero" id="home" style="background-image: url('/assets/img/10.jpeg');">
        <div class="container">
          <h2 class="h2 hero-title title page-title" id="title" data-reveal>
            Frequently Asked questions
          </h2>
          <p class="hero-text" id="sub-title" style="max-width:80ch" data-reveal>
            We understand that you may have questions about our volunteer programs and we're here to help. Below you'll find answers
            to some of the most commonly asked questions. If you can't find the information you're looking for, please don't
            hesitate to contact us directly. Our team will be more than happy to assist you.
          </p>
        </div>
      </section>
      <!-- hero section pver -->
      <section class="popular partner" id="destination">
        <div class="container">
          <div class="accordion js-accordion">
            {% set num=1 %}
            {% for item in collections.faq %}
              {% if num==1 %}
                {% set divclass= 'active' %}
              {% else %}
                {% set divclass= '' %}
              {% endif %}
              <div class="accordion__item js-accordion-item {{ divclass }}" data-reveal>
                <div class="accordion-header js-accordion-header">Q{{ num }}.
                  <b>{{ item.data.title }} ?</b>
                </div>
                <div class="accordion-body js-accordion-body">
                  <div class="accordion-body__contents">
                    {{ item.templateContent | safe }}
                  </div>
                  <div class="accordion js-accordion"></div>
                </div>
              </div>
              {% set num=num+1 %}
            {% endfor %}
          </div>
        </div>
      </section>
      <script
        src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
        crossorigin="anonymous"></script>
      <script defer>
        var accordion = (function () {
          var $accordion = $('.js-accordion');
          var $accordion_header = $accordion.find('.js-accordion-header');
          var $accordion_item = $('.js-accordion-item');
          // default settings
          var settings = { // animation speed
            speed: 400,
            // close all other accordion items if true
            oneOpen: false
          };
          return { // pass configurable object literal
            init: function ($settings) {
              $accordion_header.on('click', function () {
                accordion.toggle($(this));
              });
              $.extend(settings, $settings);
              // ensure only one accordion is active if oneOpen is true
              if (settings.oneOpen && $('.js-accordion-item.active').length > 1) {
                $('.js-accordion-item.active:not(:first)').removeClass('active');
              }
              // reveal the active accordion bodies
              $('.js-accordion-item.active').find('> .js-accordion-body').show();
            },
            toggle: function ($this) {
              if (
                settings.oneOpen &&
                $this[0] != $this.closest('.js-accordion').find('> .js-accordion-item.active > .js-accordion-header')[0]
              ) {
                $this
                  .closest('.js-accordion')
                  .find('> .js-accordion-item')
                  .removeClass('active')
                  .find('.js-accordion-body')
                  .slideUp()
              }
              // show/hide the clicked accordion item
              $this.closest('.js-accordion-item').toggleClass('active');
              $this
                .next()
                .stop()
                .slideToggle(settings.speed);
            }
          }
        })();
        $(document).ready(function () {
          accordion.init({speed: 300, oneOpen: true});
        });
      </script>
      <preload class="display-none">
        <img src="/assets/images/com/1.jpeg" alt="">
          <img src="/assets/images/com/2.jpeg" alt="">
            <img src="/assets/images/com/3.jpeg" alt="">
              <img src="/assets/images/com/4.jpeg" alt="">
                <img src="/assets/images/com/5.jpeg" alt=""></preload>