---
title : Partner With us
layout: 'base.njk'
---


  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="pages-hero" id="home" style="background-image: url('/assets/images/com/3.jpeg');">
        <div class="container"> 
            <h2 class="h2 hero-title title page-title" id="title">
              Join Our Partnership Network
            </h2>
          
            <p class="hero-text" id="sub-title">
              Collaborate with Us for a Life-Changing Experience
            </p>

           



        </div>
      </section> <!-- hero section pver -->











      <section class="popular partner unset-align" id="destination" >
        <div class="container">
 
          <p class="section-subtitle"> Join us in making a difference in Sri Lanka </p>

          <h2 class="h2 section-title">Partner with Volunteering Sri Lanka</h2>

          <p class="section-text ">
            At Volunteering Sri Lanka, we believe that the power of partnership and collaboration can create positive change in the world. We are always on the lookout for new partnerships with organizations abroad that share our mission of making a difference in the lives of people in Sri Lanka.
            <br><br>
            We invite you to join us in creating a meaningful and immersive volunteer experience for your participants if you are a
            <highlight id="highligher1">volunteer organization</highlight>,  
            <highlight id="highligher2"> travel company</highlight>,  
            <highlight id="highligher3">NGO</highlight>,  
            <highlight id="highligher4">tour agent</highlight>,  
            <highlight id="highligher5">school</highlight> or 
            <highlight id="highligher6">university</highlight> that sends students for gap year, summer programs, holiday break activities, or cultural tours. 
            <br><br>
            if you are an individual volunteer ? <a href="/apply-now/" style="font-style: italic; color: var(--forest-green);">Contunie Here</a>
          </p>
			
		  <h3 class="h3 section-title">Programs Your Volunteers Can Be Part Of</h3>
		  <p class="section-text ">
            Our volunteer programs provide a range of causes where help is greatly needed. Our volunteers can choose from the various programs that we offer, based on their preferences and past experiences. Our day care centers offer the opportunity to teach and contribute to the education sector in Sri Lanka, while our Orphanage Volunteering program allows volunteers to work closely with abandoned children and make a difference in their lives. Volunteers can help children learn to read and write, organize playtime, and provide daily care to prepare them for a brighter future. <br>
          </p>

          <h3 class="h3 section-title">Partner with Us to Make Difference</h3>
		  <p class="section-text ">
            Discover the Hidden Gems of Srilanka through Volunteering and Make a Difference Today! With its rich diversity of religions, cultures, and communities, Srilanka offers a unique and rewarding experience for those who wish to make a meaningful impact. Our volunteer programs in Srilanka provide a gateway to immerse oneself in the vibrant local culture and help tackle the challenges faced by the community. Come, join us and make a difference in this beautiful developing nation.<br>
          </p>

          <h3 class="h3 section-title">Benefits Your Volunteers Will Enjoy</h3>
		  <p class="section-text ">
            When your organization partners with us, it is not only the meek and mild of the country who benefit from our association with you. Your volunteers, too, take back an invaluable experience with them by exploring the beautiful land of Srilanka and contributing to the progress of the country simultaneously.<br>
            Besides the good wishes and love that your volunteers will take back with them, they will also experience the following benefits.
          </p>
          <ul class="section-text">
          	<li>&emsp;• Get acquainted with a new culture by closely connecting with its people.</li>
          	<li>&emsp;• In a service-minded environment, newer ideas will pave way to make a change and contribute the world and its people.</li>
          	<li>&emsp;• The valuable trait of leadership is instilled with a program such as this.</li>
          	<li>&emsp;• By working in a community, volunteers develop team spirit, compassion and a sensitive attitude towards the less fortunate.</li>
          	<li>&emsp;• Volunteering provides a fresher perspective to life.</li>
          </ul>
          <p class="section-text">
          	Our comprehensive volunteer programs in srilanka will give your recruited volunteers a special experience which they will carry with them for life.
          	If you are interested to work with us in India please add your message below and one of our  team will be in touch with you shortly. <br>

			We thank you in advance & Hopes to get a good relationship with your organization.
          </p>
        </div>
      </section>



      <!-- 
        - #CTA
      -->
  
      <section class="cta why-vsl" id="contact" style="display:flex;flex-direction: column;align-items: center;">
          <p class="section-subtitle" style="text-align: center;">Join forces for a better world </p>

          <h2 class="h2 section-title" style="text-align: center;">Partner With Us</h2>
          <p class="section-text respo-text" style="text-align: center;max-width: 87%;">
            Ready to make a difference in Sri Lanka? Fill out the form below to partner with us and send volunteers to help make a positive impact in the lives of those in need. We look forward to hearing from you and working together towards a brighter future for all. <br><br>
          </p>

          <div class="container" style="justify-content: center;width: 90%;">
		  

	          <form action="" class="tour-search-form">

	            <div class="input-wrapper">
	              <label for="name" class="input-label" >Name*</label>

	              <input type="text" name="name" id="name" required placeholder="Enter Name"
	                class="input-field">
	            </div>

	            <div class="input-wrapper">
	              <label for="email" class="input-label">Email*</label>

	              <input type="email" name="email" id="email" required placeholder="Enter your emial address" class="input-field">
	            </div>

	            <div class="input-wrapper" style="grid-column: 1/3;">
	              <label for="subject" class="input-label">Subject*</label>

	              <input type="text" name="subject" id="subject" required class="input-field" placeholder="Subject Here">
	            </div>

	            <div class="input-wrapper" style="grid-column: 1/3;width: 100%;">
	              <label for="message" class="input-label">Message</label>
	              <textarea name="message" id="message" cols="30" rows="10" class="input-field" placeholder="Write a message" style="width: 100%;"></textarea>
	            </div>

	           

	            <button type="submit" class="btn btn-primary" style="grid-column: 1/3;width: 30%;margin: auto;">Send</button>

	          </form>

        </div>
      </section>



<script defer type="module">
	// import { annotate } from 'rough-notation';
	// Or using unpkg
	import { annotate } from 'https://unpkg.com/rough-notation?module';

// 	for (let i = 1; i < 6; i++) {
// 	  	console.log(`const e${i} = document.querySelector(highligher${i});
// const a${i} = annotate(e${i}, { type: 'highlight' , color: '#E4EBE4'});`)
// 	}

		for (let i = 1; i < 6; i++) {
	  	console.log(`a${i}.show();`)
	}


	const e1 = document.querySelector("#highligher1");
	const a1 = annotate(e1, { type: 'highlight' , color: '#E4EBE4'});
	const e2 = document.querySelector("#highligher2");
	const a2 = annotate(e2, { type: 'highlight' , color: '#E4EBE4'});
	const e3 = document.querySelector("#highligher3");
	const a3 = annotate(e3, { type: 'highlight' , color: '#E4EBE4'});
	const e4 = document.querySelector("#highligher4");
	const a4 = annotate(e4, { type: 'highlight' , color: '#E4EBE4'});
	const e5 = document.querySelector("#highligher5");
	const a5 = annotate(e5, { type: 'highlight' , color: '#E4EBE4'});
	const e6 = document.querySelector("#highligher6");
	const a6 = annotate(e5, { type: 'highlight' , color: '#E4EBE4'});
	// const ag = annotationGroup([a1, a2, a3, a4, a5]);

    a1.show();
    a1.show();
	a2.show();
	a3.show();
	a4.show();
	a5.show();
	a6.show();
	
</script>



  <!-- partial -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/CSSRulePlugin.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js'></script>

<script  type="text/javascript">
      gsap.registerPlugin(ScrollTrigger);     
     tl = gsap.timeline({defaults: {ease: "power4.inOut", duration: 2}});
            let flagPoles = CSSRulePlugin.getRule(".card:before");


            // tl.to('h1', { 'clip-path': 'polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%)', opacity: 1, repeat: -2, y: 0, duration: 2.2})
            tl.to('.form', { 'clip-path': 'polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%)', opacity: 1, y: 0, duration: 2.2})
            gsap.from('.card', {scrollTrigger: '.card' , scaleY: 0, stagger: .2}, "-=2")
            // tl.from(flagPoles, {  stagger: 1, opacity: 0, transform: 'translateY(100px)' }, "-=2")
            tl.to('.desc', { stagger: .1, duration: 1.2, opacity: 1, y: 0}, "-=2")
            // gsap.to('footer', {scrollTrigger: 'footer' ,opacity: 1}, "-=2")
    </script>





