---
title : Partner With us
layout: 'base.njk'
---

<main>
  <article>
    <!--
    - #HERO -->
    <section class="pages-hero" id="home" style="background-image: url('/assets/img/13.jpeg');">
      <div class="container">
        <h2 class="h2 hero-title title page-title" id="title">
          Join Our Partnership Network
        </h2>
        <p class="hero-text" id="sub-title">
          Collaborate with Us for a Life-Changing Experience
        </p>
      </div>
    </section>
    <!-- hero section pver -->
    <section class="popular partner unset-align" id="destination">
      <div class="container">
        <p class="section-subtitle">
          Join us in making a difference in Sri Lanka
        </p>
        <h2 class="h2 section-title">Partner with  Volunteer in Sri Lanka</h2>
        <p class="section-text ">
          At  Volunteer in Sri Lanka, we believe that the power of partnership and collaboration can create positive change in the
          world. We are always on the lookout for new partnerships with organizations abroad that share our mission of making a
          difference in the lives of people in Sri Lanka.
          <br><br> We invite you to join us in creating a meaningful and immersive volunteer experience for your participants if
          you are a
          volunteer organization,travel company,NGO,tour agent,school,or
          university
          that sends students for gap year, summer programs, holiday break activities, or cultural tours. <br><br> if you are an
          individual volunteer ?
          <a href="/apply-now/" style="font-style: italic; color: var(--forest-green);">Contunie Here</a>
        </p>
        <h3 class="h3 section-title">Programs Your Volunteers Can Be Part Of</h3>
        <p class="section-text ">
          Our volunteer programs provide a range of causes where help is greatly needed. Our volunteers can choose from the
          various programs that we offer, based on their preferences and past experiences. Our day care centers offer the
          opportunity to teach and contribute to the education sector in Sri Lanka, while our Orphanage Volunteering program
          allows volunteers to work closely with abandoned children and make a difference in their lives. Volunteers can help
          children learn to read and write, organize playtime, and provide daily care to prepare them for a brighter future.
          <br>
        </p>
        <h3 class="h3 section-title">Partner with Us to Make Difference</h3>
        <p class="section-text ">
          Discover the Hidden Gems of Srilanka through Volunteering and Make a Difference Today! With its rich diversity of
          religions, cultures, and communities, Srilanka offers a unique and rewarding experience for those who wish to make a
          meaningful impact. Our volunteer programs in Srilanka provide a gateway to immerse oneself in the vibrant local culture
          and help tackle the challenges faced by the community. Come, join us and make a difference in this beautiful developing
          nation.<br>
        </p>
        <h3 class="h3 section-title">Benefits Your Volunteers Will Enjoy</h3>
        <p class="section-text ">
          When your organization partners with us, it is not only the meek and mild of the country who benefit from our
          association with you. Your volunteers, too, take back an invaluable experience with them by exploring the beautiful land
          of Srilanka and contributing to the progress of the country simultaneously.<br>
          Besides the good wishes and love that your volunteers will take back with them, they will also experience the following
          benefits.
        </p>
        <ul class="section-text fee-list-green">
          <li><ion-icon name="checkmark-sharp"></ion-icon>Get acquainted with a new culture by closely connecting with its people.</li>
          <li><ion-icon name="checkmark-sharp"></ion-icon>In a service-minded environment, newer ideas will pave way to make a change and contribute the world and its
            people.</li>
          <li><ion-icon name="checkmark-sharp"></ion-icon>The valuable trait of leadership is instilled with a program such as this.</li>
          <li><ion-icon name="checkmark-sharp"></ion-icon>By working in a community, volunteers develop team spirit, compassion and a sensitive attitude towards the
            less fortunate.</li>
          <li><ion-icon name="checkmark-sharp"></ion-icon>Volunteering provides a fresher perspective to life.</li>
        </ul>
        <p class="section-text">
          Our comprehensive volunteer programs in Sri Lanka will give your recruited volunteers a special experience which they
          will carry with them for life. If you are interested to work with us in Sri Lanka please add your message below and one of
          our team will be in touch with you shortly.
          <br> We thank you in advance & Hopes to get a good relationship with your organization.
        </p>
      </div>
    </section>
    <!--
    - #CTA -->
    <section class="cta why-vsl" id="contact" style="display:flex;flex-direction: column;align-items: center;">
      <p class="section-subtitle" style="text-align: center;">Join forces for a better world
      </p>
      <h2 class="h2 section-title" style="text-align: center;">Partner With Us</h2>
      <p class="section-text respo-text" style="text-align: center;max-width: 87%;">
        Ready to make a difference in Sri Lanka? Fill out the form below to partner with us and send volunteers to help make a
        positive impact in the lives of those in need. We look forward to hearing from you and working together towards a
        brighter future for all.
        <br><br>
      </p>
      <div class="container" style="justify-content: center;width: 90%;">
        <form action="https://formspree.io/f/meqwvzkp" name="Partner with us" method="POST" class="tour-search-form">
          <div class="input-wrapper">
            <label for="name" class="input-label">Name*</label>
            <input type="text" name="name" id="name" required placeholder="Enter Name" class="input-field">
          </div>
          <div class="input-wrapper">
            <label for="email" class="input-label">Email*</label>
            <input type="email" name="email" id="email" required placeholder="Enter your email address" class="input-field">
          </div>
          <div class="input-wrapper" style="grid-column: 1/3;">
            <label for="subject" class="input-label">Subject*</label>
            <input type="text" name="subject" id="subject" required class="input-field" placeholder="Subject Here">
          </div>
          <div class="input-wrapper" style="grid-column: 1/3;width: 100%;">
            <label for="message" class="input-label">Message</label>
            <textarea
              name="message"
              id="message"
              cols="30"
              rows="10"
              class="input-field"
              placeholder="Write a message"
              style="width: 100%;"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" style="grid-column: 1/3;width: 30%;margin: auto;">Send</button>
        </form>
      </div>
    </section>
   