---
title : Volunteering Fee in Sri Lanka
layout: 'base.njk'
eleventyImport:
  collections: ["fees",faq"]
keywords: volunteer fee, cost, Sri Lanka, community service, charity
description: Find out about the fees for our volunteer programs in Sri Lanka and how your contribution will make a positive impact in the community.
og:
  title: Volunteer Fee in Sri Lanka
  description: Find out about the fees for our volunteer programs in Sri Lanka and how your contribution will make a positive impact in the community.
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <main>
    <article>
      <!--
      - #HERO -->
      <section class="pages-hero" id="home" style="background-image: url('/assets/img/15.jpeg');">
        <div class="container">
          <h2 class="h2 hero-title title page-title" id="title">
            Volunteering Fees
          </h2>
          <p class="hero-text" id="sub-title">
            Transparent and Affordable Volunteer Programs
          </p>
        </div>
      </section>
      <!-- hero section pver -->
      <section class="popular partner unset-align" id="destination">
        <div class="container">
          <p class="section-text ">
             Volunteer in Sri Lanka is a local srilankan Organization which has one of the most Affordable & Cheap volunteer program
            fees in Srilanka. Compare to other Abroad and Srilankan Organizations we have our own setup project locations. To join
            the program you don’t have to pay any extra Application or Registration Fees
            <br>
              <br>
                <b>Program Dates
                </b>: All year round – Dates are flexible you can choose your own start and finish date.
              </p>
              <table class="fee-table">
                <thead>
                  <tr>
                    <th colspan="2">Fees for all our volunteer Programs</th>
                  </tr>
                  <tr>
                    <th>Duration</th>
                    <th>Fee (USD)</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in collections.fees %}
                    {% for weeks in range(1, item.data.weeks+1) %}
                      <tr class="tr-hover">
                        <td>{{ weeks }} Week</td>
                        <td>$ {{ item.data.perweek*weeks }}</td>
                      </tr>
                    {% endfor %}
                    <tr class="tr-hover">
                      <td>Per Extra Week</td>
                      <td>$ {{ item.data.perextraweek }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              <br>
                <br>
                  <br>
                    <br>
                      <ul class="package-list">
                        <li>
                          <div class="package-card">
                            <figure class="card-banner">
                              {% image "./src/assets/img/scooter.jpeg"  , "Scooter offer by volunteer in Sri Lanka", "(min-width: 300em) 50vw, 100vw" , "" %}
                              </figure>
                              <div class="card-content scooter-card">
                                <h3 class="h3 card-title">Explore Sri Lanka at
                                  <br>your own pace</h3>
                                  <p class="card-text">
                                    We understand the importance of exploring the beautiful country of Sri Lanka while volunteering. That's why we offer a
                                    <b>free scooter(without fuel)</b>
                                    to all our volunteers, for the entire duration of their program. This gives our volunteers the freedom to travel and
                                    explore Sri Lanka on their own terms and at their own pace.
                                  </p>
                                  <ul class="card-meta-list">
                                    <li class="card-meta-item">
                                      <div class="meta-box">
                                        <ion-icon name="time" role="img" class="md hydrated" aria-label="time"></ion-icon>
                                        <p class="text">24x7</p>
                                      </div>
                                    </li>
                                    <li class="card-meta-item">
                                      <div class="meta-box">
                                        <ion-icon name="location" role="img" class="md hydrated" aria-label="location"></ion-icon>
                                        <p class="text">Sri Lanka</p>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                                <div class="card-price">
                                  <div class="wrapper">
                                    <p class="reviews">We offer a scooter</p>
                                  </div>
                                  <p class="price">
                                    FREE
                                    <span>
                                      of charge</span>
                                  </p>
                                </div>
                              </div>
                            </li>
                          </ul>
                          <hr style="margin-top: 5rem;margin-bottom: 5rem;">
                            <h2 class="h2 section-title">Why do I Need to Pay</h2>
                            <br>
                              <p class="section-text ">
                                <b>THE MOST COMMON QUESTION THAT VOLUNTEERS ASK US IS ‘WHY DO I NEED TO PAY, TO VOLUNTEER?</b>
                              </p>
                              <p class="section-text" style="margin-left:0.5rem;">
                                As a genuine and reliable volunteer program in Sri Lanka like any other organization we too have daily expenditures in placing and accommodating the volunteers in our programs in Sri Lanka. The fee is used for the placement, administration and upkeep of the projects in Sri Lanka. We have tried to show in the graph below, where the money is used by Volunteer in Srilanka
                                <br>
                                  <br></p>
                                  
                                          <p class="section-text ">
                                            <b>Our program fee includes </b>
                                          </p>
                                          <ul class="section-text fee-list-green">
                                            <li><ion-icon name="checkmark-sharp"></ion-icon>Accommodation</li>
                                            <li><ion-icon name="checkmark-sharp"></ion-icon>Three meals a day</li>
                                            <li><ion-icon name="checkmark-sharp"></ion-icon>Airport pick-up and drop-off if you are volunteering more than 3 weeks, If it is less than 3 weeks volunteer in Sri Lanka will charge only the cost</li>
                                            <li><ion-icon name="checkmark-sharp"></ion-icon>Providing basic orientation on the first day of program start date.</li>
                                            <li><ion-icon name="checkmark-sharp"></ion-icon>Transport to and from your work placement
                                            </li>
                                            <li><ion-icon name="checkmark-sharp"></ion-icon>Providing scooter without fuel for your personal use
                                            <li><ion-icon name="checkmark-sharp"></ion-icon>Full time free wi-fi 
                                            </li>
                                          </ul>
                                          <br>
                                            <p class="section-text ">
                                              <b>The price does not include</b>
                                            </p>
                                            <ul class="section-text fee-list-red">
                                              <li><ion-icon name="close-sharp"></ion-icon> Flights</li>
                                              <li><ion-icon name="close-sharp"></ion-icon> Visa costs(where applicable)</li>
                                              <li><ion-icon name="close-sharp"></ion-icon> Travel and medical insurance</li>
                                            </ul>
                                            <br>
                                                <br></div>
                                              </section>
                                              <section class="cta" id="contact">
                                                <div class="container">
                                                  <div class="cta-content cta-width">
                                                    <p class="section-subtitle" style="text-align:left;">Ready to Join the Movement?</p>
                                                    <h2 class="h2 section-title cta-title-hash" style="text-align:left;">Take the First Step, Join with us Today</h2>
                                                    <p class="section-text cta-title-hash">
                                                      Don't miss out on the opportunity to make a difference in Sri Lanka while exploring a new culture and gaining valuable
                                                      international experience. Sign up for our affordable and life-changing volunteer program today and become a part of our
                                                      worldwide network of volunteers dedicated to creating positive change
                                                    </p>
                                                  </div>
                                                  <a href="/apply-now/"><button class="btn btn-primary">Join now</button></a>
                                                </div>
                                              </section>